body {
  font-family: 'Roboto', sans-serif;
  background-color: #191920;
  margin: 0;
  padding: 0;
}

.cart ion-icon {
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
}

.product-container {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;

  flex-wrap: wrap;
  padding-bottom: 100px;
  margin-top: 10px;
  flex-direction: row;
}

.active {
  font-weight: 600 !important;
  color: white !important;
}

.image {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 150px;
  text-align: center;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.label-rating {
  margin-right: 10px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

.card-product .price-old {
  color: #999;
}

.white-text {
  color: white;
}

a:hover {
  text-decoration: 'none !important';
}

@media only screen and (max-width: 690px) {
  .product-container {
    display: flex;
    justify-content: center;
  }
}
